<div>
    <table style="height: 89px; margin-left: auto; margin-right: auto; width: 532.5px;">
        <tbody>
            <tr style="height: 19px;">
                <td style="width: 511.5px; height: 19px; text-align: center;" colspan="3">
                    <p><span style="color: #000000;"><span style="caret-color: #339966;"><strong>Your Selections Have Been Submitted Successfully!</strong></span></span></p>
                </td>
            </tr>
            <tr style="height: 19px;">
                <td style="width: 511.5px; height: 19px; text-align: center;" colspan="3">
                    <div><form action="http://ec2-3-89-213-90.compute-1.amazonaws.com:5000/" enctype="multipart/form-data" method="POST">
                        <p><input class="button-new" style="margin-top: 15px;" type="submit" value="return" /></p>
                    </form></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
